// botones de seguros bolivar
// .btn-primary-esago {
//   background-color: #038450 !important;
//   border-color: #038450;
// }

// .btn-primary-esago:hover {
//   background-color: #009056 !important;
//   border-color: #009056;
// }

.btn-primary-esago {
  background-color: #ffda55 !important;
  border-color: #ffda55 !important;
  color: #038450 !important;
}

.btn-primary-esago:hover {
  background-color: #ffe16f !important;
  border-color: #ffe16f !important;
  color: #038450 !important;
}
